@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Permanent+Marker&display=swap');
:root {
    --primary-color: #514539;
    --secondary-color: rgb(172, 170, 150);
    --accent1-color: #dfdbcd;
    --accent2-color: #3c5b5e;
    --text-dark: #514539;
    --text-light: #dfdbcd;
    --heading-font: "Permanent Marker", serif;
    --paragraph-font: "Amatic SC", serif;
}

ul {
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-img {
    height: 50px;
    border: solid;
    border-radius: 5px;
    border-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h6 {
    color: rgb(165, 32, 32);
    font-size: larger;
}

body {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    font-family: "Permanent Marker", serif;
    font-size: 25px;
}

h1,h2 {
    text-align: center;
    font-size: 40px;
}

#customize {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    width: 300px;
    height: 25px;
}

button {
    height: 30px;
}

.paddle {
    margin: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.paddle:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 
}

.paddle img {
    width: 100%;
}

#paddles {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    margin: 0%;
    font-size: 20px;
    font-family: var(--paragraph-font);
}

h3 {
    color: var(--accent2-color);
    font-size: 25px;
    margin: 10px;
}

#preference-selector {
    width: 30%;
}

.selector-container {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selector-container label {
    margin: 15px;
}

#details-container {
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#details-container > img {
    width: 45%;
}

li > a:hover {
    color: var(--accent2-color);
}

#sorting-selector, #sorting-label, #search-input::placeholder, #preference-selector, #preference-label, .form-group {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

#search-input, select {
    height: 30px;
}

option:hover {
    background-color: #3c5b5e;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.mySlides img {
    margin: auto;
    align-self: center;
}

/* Next & previous buttons */
.prev, .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--primary-color);
}

/* Caption text */
.text {
    color: var(--primary-color);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--primary-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


footer {
    display: flex;
    margin-left: auto;
    font-size: 10px;
    justify-content: right;
    align-items: end;
}

footer a {
    font-size: 10px;
}

fieldset {
    margin: 1.5rem;
}

h4, h5, h6 {
    margin: 1.5rem;
}

#quiz-button {
    margin-left: 1.5rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#paddle-result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quiz-paddle {
    width: 15%;
}

.quiz-paddle {
    animation: rock 5s ease-in-out infinite;
}

#menu {
    display: flex;
    flex-direction: row;

}

#menu-icon {
    display: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#menu-icon:hover {
    color: var(--accent2-color)
}

#normal-menu.is-active{
    width: 30%;
    padding: 5px;
    display: flex;
    top: 80px;
    right: 0;
    flex-direction: column;
    position: absolute;
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 2px var(--primary-color);
}

.query-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top-10-container > .selector-container {
    margin: 1.5rem;
}

#top-10-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .top-10-paddle {
        margin: 20px;
        padding: 10px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        img {
            width: 50%;
            display: block; /* Images are inline by default, make it a block element */
            margin-left: auto;
            margin-right: auto;
        }
        h3 {
            text-align: center;
        }
    }
}

.login-form, .registration-form {
    width: 75%;
    height: 250px;
    border-radius: 10px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}

.user-info {
    width: 75%;
    height: 400x;
    border-radius: 10px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);

    .user-detail {
        display: flex;
        flex-direction: row;
        h4 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}

@keyframes rock {
    0%, 50%, 100% {
        transform: rotate(0.0deg);
    }

    25% {
        transform: rotate(-30.0deg);
    }

    75% {
        transform: rotate(30.0deg);
    }

    /* 0% {
        transform: rotate(0.0deg);
    }

    25% {
        transform: rotate(90.0deg);
    }

    50% {
        transform: rotate(180.0deg);
    }

    75% {
        transform: rotate(270.0deg);
    }

    100% {
        transform: rotate(360.0deg);
    } */
}

@media screen and (max-width: 810px) {

    #paddles {
        grid-template-columns: 1fr 1fr;
    }

    #menu-icon {
        display: block;
    }

    #normal-menu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #paddles {
        grid-template-columns: 1fr;
    }

    #menu-icon {
        display: block;
    }

    #normal-menu {
        display: none;
    }
}