<%- include('partials/header') %>
    <div id="quiz-container">
        <h2>Quiz</h2>
        <h4>Finish the quiz to see what paddles suit you!</h4>
        <h5>Please fill in all the questions.</h5>
        <h6 class="hide">Please capotalize the first letter!!</h6>
        <form id="quiz">
        </form>
        <button id="quiz-button">submit</button>
    </div>
    <div id="result" class="hide">
        <h2>Result</h2>
        <div id="paddle-result"></div>
    </div>
<%- include('partials/footer') %>