</head>

<body>
    <header>
        <div id="logo">
            <img id=logo-img src="/images/Logo-maker-project.png" alt="Pick Le Me Logo">
            <h1>Pick-Le Me</h1>
        </div>
        <button id="menu-icon" class="material-icons">menu</button>
        <ul id="normal-menu">
            <li><a href="/paddles">Paddles</a></li>
            <li><a href="/top10">Top 10s</a></li>
            <% if (isLoggedIn) { %>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>

        </ul>
    </header>
    <main>
        <% const messages = flash(); %>
        <% Object.keys(messages).forEach(type => { %>
            <% if (messages[type].length > 0) { %>
                <div class="alert <%= type %>">
                    <% messages[type].forEach(msg => { %>
                        <p><%= msg %></p>
                    <% }); %>
                </div>
            <% } %>
        <% }); %>